#============BASIC================
__pycache__
.history
.hypothesis/
build/
reports/
.env
contracts/.idea
.idea
artifacts/
.vscode/
*__pycache__
pycache/
*/pycache/
*.py[cod]
.vs/
.pytest_cache

#============CUSTOM=============
envs/
.env*
.env
.envDev
.envProd
codeTraduction/
secrets/
devops/envs/
myenv/
venv/

autoppia_agentic_framework/finetunning/*