python-dotenv
openai
tiktoken
bs4
google-api-python-client
google-auth-oauthlib
python-dateutil
selenium
injector
dependency-injector
pymongo
asyncio
pytest
psycopg2
langchain
langchain-community
langchain-openai
websockets
python-dotenv
flask
flask-socketio
eventlet
gevent
gevent-websocket

git+https://oauth2:glpat-X4_gsgzbkVhTrt9_z8K5@gitlab.com/autoppia/autoppia_backend_clients/autoppia_backend_client_python.git@main#egg=autoppia_backend_client
