python-dotenv
openai
tiktoken
bs4
google-api-python-client
google-auth-oauthlib
python-dateutil
selenium
injector
dependency-injector
pymongo
asyncio
pytest
psycopg2-binary
langchain
langchain-community
langchain-openai
langchain-pinecone
boto3
websockets
requests
patchright
playwright
